.info__wrapper{
	display: flex;
	flex-direction: column;
	gap: 2rem;
  padding: 1rem;
  padding-bottom: 5rem;
  background-color: var(--main-blk);
  margin-top: 25rem;
  margin-bottom: 0px;

}

.info__img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.info__info{
    margin: 0 2rem;
}


.info__img img{
    align-items: center;
    border-radius: 5%;
    width: 80%;
}

.info__title{
	font-size: 1.7rem;
	font-weight: 600;
	color: #111;
	margin-bottom: 1rem;
    text-align: center;
}

.info__text{
	font-size: 1.4rem;
    line-height: 1.4em;
    color: #111;
    opacity: 0.9;
    text-align: center;
}

@media only screen and (min-width: 1350px){
	.info__wrapper{
      padding: 10rem;
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      margin-top: 20rem;
	}

  .info__img img{
      width: 80%;
  }

	.info__img,
	.info__info{
		flex: 1;
	}

	.info__title{
		font-size: 2.1rem;
	}

	.info__text{
		font-size: 1.5rem;
		max-width: 800px;
	}
}

/* Wobble Vertical */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
